body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}
/* 
COLORS
dark backround color
#1f2937

*/

/* HEADER STYLES */
header {
    background-color: #1f2937;
    margin: 0;
}
.header-wrapper {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-top: 10px;
}
header h1{
    margin: 0;
    color: #F9FAF8;
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.8em;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* NAVIGATION */
.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 36px;
}
.nav-container li {
    font-size: 18px;
    font-weight: 400;
}
.nav-container a {
    color: #CBCFD4;
    text-decoration: none;
}
/* HERO SECTION */
.hero-wrapper {
    margin: 40px 0 100px;
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    justify-content: space-between;
}
.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}
.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}
button.sign-up {
    width: 120px;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 700;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px 0;
    border-style: none;
    border-radius: 8px;
}

.hero-image .image {
    display: flex;
    height: 240px;
    width: 520px;
    background-color:#6C747D;
    justify-content: center;
    align-items: center;
}

/* RANDOM INFO SECTION STYLES */
.random-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
}

.random-wrapper h2 {
    font: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 900;
    color:#1f2937;
    padding: 15px 0;
}
.random-tile-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 48px;
}

.random-group {
    display: flex;
    flex-direction: column;
}
.tile {
    height: 160px;
    width: 160px;
    border: #3882f6 4px solid;
    border-radius: 15px;
    margin-bottom: 6px;
}
.tile-text {
    width: 162px;
    text-align: center;
    font-size: 17px;
    color: #6C747D;
}

/* QUOTE SECTION */
.quote-section {
    background-color: #e5e7eb;
}
.quote-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
}
.quote {
    font-family: Roboto, sans-serif;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1f2937;
}
.author {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: right;
    padding-right: 25px;
}