body {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
}
/* 
COLORS
dark backround color
#1f2937

*/

/* HEADER STYLES */
header {
    background-color: #1f2937;
    margin: 0;
    /* display: flex; */
    /* justify-content: space-around; */
    /* padding: 5px 0; */
    
}
.header-wrapper {
    max-width: 1040px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-top: 10px;
}
header h1{
    margin: 0;
    color: #F9FAF8;
    font-family: Roboto;
    font-weight: 700;
    font-size: 1.8em;
}
.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/* NAVIGATION */
.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 36px;
}
.nav-container li {
    font-size: 18px;
    font-weight: 400;
}
.nav-container a {
    color: #e5e7eb;
    text-decoration: none;
}
/* HERO SECTION */
.hero-wrapper {
    margin: 40px 0 100px;
    display: flex;
    background-color: #1f2937;
    color: #F9FAF8;
    justify-content: space-between;
}
.hero-text {
    display: flex;
    flex-direction: column;
    max-width: 450px;
}
.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
}
.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
}
button.sign-up {
    width: 120px;
    font-family: Roboto, sans-serif;
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px 0;
    border-style: none;
    border-radius: 8px;
}

.hero-image .image {
    display: flex;
    height: 240px;
    width: 520px;
    background-color:#6C747D;
    justify-content: center;
    align-items: center;
}